# only development dependencies should be added to this file
# if you add a new dev dependency you must ensure to add it to the [tool.hatch.envs.dev]
# section of the pyproject.toml file too
# required conda-store-server or conda-store (core) dependencies MUST ONLY be added/updated in the [dependencies]
# section of the corresponding pyproject.toml file
# the only exceptions to this rule are conda and constructor which are only conda installable
name: conda-store-server-dev
channels:
  - conda-forge
  - nodefaults
dependencies:
  # must be kept in sync with .python-version-default
  - python=3.12
  # conda builds
  - conda
  # dev dependencies
  - aiohttp>=3.8.1
  - pytest
  - pytest-celery
  - pytest-mock
  - docker-py<=7
  - docker-compose
  # build dependencies
  - hatch
  - build
  - twine>=5.0.0
  - pkginfo>=1.10 # needed to support metadata 2.3
  # installer
  - constructor # runtime dep but must be conda installed
  # linting
  - pre_commit
  - pip
  - pip:
      - pytest-playwright
      - setuptools-scm>=6.4.0
