name: conda-store-server
channels:
  - conda-forge
dependencies:
  # conda environment builds
  - conda
  - conda-docker
  - conda-pack
  # web server
  - celery
  - flower
  - redis-py
  - sqlalchemy
  - psycopg2
  - pymysql
  - requests
  - pyyaml
  - uvicorn
  - fastapi
  - pydantic
  - traitlets
  - yarl
  - pyjwt
  - filelock
  - itsdangerous
  - jinja2
  # artifact storage
  - minio
