# only development dependencies should be added to this file, if you add a new dev dependency
# you must ensure to add it to the [tool.hatch.envs.dev] section of the pyproject.toml file too
# required conda-store-server or conda-store (core) dependencies MUST ONLY be added/updated in the [dependencies]
# section of the corresponding pyproject.toml file
name: conda-store-server-dev
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python ==3.10
  # conda builds
  - conda ==23.5.2
  # dev dependencies
  - aiohttp>=3.8.1
  - pytest
  - pytest-celery
  - pytest-mock
  - docker-py<7  # for docker-compose
  - docker-compose
  # build dependencies
  - hatch
  - build
  - pre-commit
  # installer
  - constructor # runtime dep but must be conda installed
  - pip
  - pip:
      - pytest-playwright
      - twine>=5.0.0
      - pkginfo>=1.10 # needed to support metadata 2.3
