name: conda-store-server-dev
channels:
  - conda-forge
  - Microsoft
dependencies:
  # conda builds
  - conda
  - conda-docker >= 0.1.2
  - conda-pack
  - conda-lock >=1.0.5
  # web server
  - celery
  - flower
  - redis-py
  - sqlalchemy
  - psycopg2
  - pymysql
  - requests
  - uvicorn
  - fastapi
  - pydantic
  - pyyaml
  - traitlets
  - yarl
  - pyjwt
  - filelock
  - itsdangerous
  - jinja2
  - python-multipart
  - alembic
  # artifact storage
  - minio
  # CLI
  - typer

  # dev dependencies
  - pytest
  - pytest-xdist
  - pytest-mock
  - black ==22.3.0
  - flake8
  - sphinx
  - myst-parser
  - sphinx-panels
  - sphinx-copybutton
  - pydata-sphinx-theme
  - playwright
