// Copyright (c) conda-store development team. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

include conda_store LICENSE
recursive-include conda_store_server/_internal/server/templates *
prune .github
global-exclude *.py[cod] __pycache__ *.so *.nix .envrc
