volumes:
  conda_store_data:
  redis:
    driver: local

services:
  traefik:
    image: "traefik:v2.6"
    container_name: "traefik"
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.minio.address=:9080"
      - "--entrypoints.websecure.http.tls=true"
      - "--entrypoints.minio.http.tls=true"
    ports:
      - "80:80"
      - "443:443"
      - "9080:9080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  initializer:
    image: alpine
    restart: "no"
    # hack to set perimssions on volume
    entrypoint: |
      /bin/sh -c "mkdir -p /opt/conda-store/conda-store && chown -R 1000:1000 /opt/conda-store/conda-store"
    volumes:
      - conda_store_data:/opt/conda-store/

  conda-store-worker:
    image: quansight/conda-store-server
    user: 1000:1000
    volumes:
      - ./assets/conda_store_config.py:/etc/conda-store/conda_store_config.py:ro
    depends_on:
      initializer:
        condition: service_completed_successfully
      conda-store-server:
        condition: service_healthy
    links:
      - "traefik:conda-store.localhost"
    platform: linux/amd64
    command: ['conda-store-worker', '--config', '/etc/conda-store/conda_store_config.py']

  conda-store-server:
    image: quansight/conda-store-server
    user: 1000:1000
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.conda-store.rule=Host(`conda-store.localhost`) && (PathPrefix(`/conda-store`) || PathPrefix(`/v2`))"
      - "traefik.port=8080"
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
    links:
      - "traefik:conda-store.localhost"
    volumes:
      - ./assets/conda_store_config.py:/etc/conda-store/conda_store_config.py:ro
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/conda-store/api/v1/"]
      interval: 10s
      timeout: 5s
      retries: 5
    platform: linux/amd64
    command: ['conda-store-server', '--config', '/etc/conda-store/conda_store_config.py']
    ports:
      - "8080:8080"

  jupyterhub:
    build:
      context: dockerfiles
      dockerfile: jupyterhub.Dockerfile
      args:
        python_version: 3.11
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jupyterhub.rule=Host(`conda-store.localhost`) && (Path(`/`) || PathPrefix(`/hub`) || PathPrefix(`/user`))"
      - "traefik.port=8000"
    user: 1000:1000
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8000/hub/api/"]
      interval: 10s
      timeout: 5s
      retries: 5
    links:
      - "traefik:conda-store.localhost"
    depends_on:
      initializer:
        condition: service_completed_successfully
    volumes:
      - conda_store_data:/opt/conda-store
      - ./assets/jupyter_notebook_config.py:/etc/jupyter/jupyter_notebook_config.py:ro
      - ./assets/jupyterhub_config.py:/opt/jupyterhub/jupyterhub_config.py:ro
      - ./assets/overrides.json5:/opt/conda/envs/conda-store/share/jupyter/lab/settings/overrides.json5:ro
    platform: linux/amd64
    command: ['/opt/conda/envs/conda-store/bin/jupyterhub', '--config', '/opt/jupyterhub/jupyterhub_config.py', '--debug']
    ports:
      - "8000:8000"

  minio:
    image: minio/minio:RELEASE.2020-11-10T21-02-24Z
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.minio.rule=Host(`conda-store.localhost`)"
      - "traefik.http.routers.minio.entrypoints=minio"
      - "traefik.port=9000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5
    entrypoint: sh
    command: -c 'mkdir -p /data/conda-store && /usr/bin/minio server /data'
    environment:
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: password

  postgres:
    image: postgres:13
    user: postgres
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: conda-store

  redis:
    image: bitnami/redis
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      REDIS_PASSWORD: password
