# python
__pycache__
dist
build
*.egg-info
.pytest_cache

# data from deployments
data

# vagrant
.vagrant

# yarn / nuxt
node_modules
.nuxt

# sphinx
docs/_build

# nix
.direnv
**/.DS_Store

# vscode
.history/
.vscode/
*.code-workspace

# playwright
screenshots
test-results

# ruff
.ruff_cache

# conda-store-ui
conda-store-server/conda_store_server/server/static/conda-store-ui/