# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: "examples|tests|docs"
- repo: https://github.com/charliermarsh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.0.263'
  hooks:
    - id: ruff
      exclude: "examples|tests|docs"
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: trailing-whitespace
      files: ".*\\.py"
    - id: check-added-large-files
# You can add your own hooks too.
# -   repo: local
#     hooks:
#     -   id: my_hook
#         name: Some custom hook
#         entry: ./.local_precommit_hooks/my_own_hook.sh
#         language: script
