version: "2"

services:
  conda-store-build:
    build: .
    depends_on:
      - "postgres"
      - "minio"
    volumes:
      - ./tests/assets/environments:/opt/environments:ro
      - ./data/conda-store:/data
    command: ['python', '-m', 'conda_store', 'build', '-p', '/opt/environments', '-e', '/data/envs', '-s', '/data/store', '--uid', '1000', '--gid', '100', '--permissions', '775', '--storage-backend', 's3']
    environment:
      TZ: America/New_York
      CONDA_STORE_DB_URL: "postgresql+psycopg2://admin:password@postgres/conda-store"
      CONDA_STORE_S3_ENDPOINT: minio:9000
      CONDA_STORE_S3_ACCESS_KEY: admin
      CONDA_STORE_S3_SECRET_KEY: password
      PATH: "/opt/conda/envs/conda-store/bin:/opt/conda/bin:/opt/conda/condabin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

  conda-store-server:
    build: .
    depends_on:
      - "postgres"
      - "minio"
    command: ['python', '-m', 'conda_store', 'serve', '-s', '/data/store', '--port', '5000']
    ports:
      - "5000:5000"
    environment:
      TZ: America/New_York
      CONDA_STORE_DB_URL: "postgresql+psycopg2://admin:password@postgres/conda-store"
      CONDA_STORE_S3_ENDPOINT: minio:9000
      CONDA_STORE_S3_ACCESS_KEY: admin
      CONDA_STORE_S3_SECRET_KEY: password
      PATH: "/opt/conda/envs/conda-store/bin:/opt/conda/bin:/opt/conda/condabin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

  minio:
    image: minio/minio:RELEASE.2020-11-10T21-02-24Z
    ports:
      - "9000:9000"
    entrypoint: sh
    command: -c 'mkdir -p /data/conda-store && /usr/bin/minio server /data'
    volumes:
      - ./data/minio:/data
    environment:
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: password

  postgres:
    image: postgres:13
    # TODO: need to properly fix this without this hack
    # reuse sqlalchemy connections
    command: postgres -c 'max_connections=200'
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: conda-store
