{% extends 'base.html' %}

{% block title %}Build {{ build.id }}{% endblock %}

{% block content %}
<div class="card my-2">
    <div class="card-body">
        <h3 class="card-title">Build {{ build.id }}
            <span class="badge badge-light">{{ (build.size or 0) | filesizeformat(true) }}</span>
        </h3>
    </div>
    <p class="card-text">
        <dl>
            <dt class="col-sm-3">scheduled on</dt>
            <dd class="col-sm-9">{{ build.scheduled_on }}</dd>

            <dt class="col-sm-3">started on</dt>
            <dd class="col-sm-9">{{ build.started_on }}</dd>

            <dt class="col-sm-3">ended on</dt>
            <dd class="col-sm-9">{{ build.ended_on }}</dd>

            <dt class="col-sm-3">status</dt>
            <dd class="col-sm-9">{{ build.status.value }}</dd>

            <dt class="col-sm-3">specification</dt>
            <dd class="col-sm-9"><a href="/specification/{{ build.specification.sha256 }}/">{{ build.specification.sha256[:8] }}</a></dd>
        </dl>
    </p>
</div>

{% if build.status.value in ['COMPLETED'] %}
<div class="card my-2">
    <div class="card-body">
        <h3 class="card-title">Conda Packages
            <span class="badge badge-light">{{ build.packages | length }}</span>
        </h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Version</th>
                <th scope="col">Channel</th>
            </tr>
        </thead>
        <tbody>
{% for package in build.packages %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ package.name }}</td>
                <td>{{ package.version }}</td>
                <td>{{ package.channel }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if build.status.value in ['COMPLETED'] %}
<div class="card my-2">
    <div class="card-body">
        <h3 class="card-title">Conda Environment Artifacts</h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Lockfile: <a href="/build/{{ build.id }}/lockfile/">conda-linux-64.lock</a></li>
        <li class="list-group-item">Archive: <a href="/build/{{ build.id }}/archive/">environment.tar.gz</a></li>
    </ul>
</div>
{% endif %}

{% if build.status.value in ['COMPLETED', 'FAILED'] %}
<div class="card my-2">
    <div class="card-body">
        <a href="/build/{{ build.id }}/logs/" class="btn btn-primary btn-block">Full Logs</a>
    </div>
</div>
{% endif %}
{% endblock %}
