{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Environments</h2>
{% for environment in environments %}
<div class="card my-2">
    <div class="card-body">
        <h5 class="card-title">
            <a href="/environment/{{environment.namespace.name }}/{{ environment.name }}/">{{ environment.namespace.name }}/{{ environment.name }}</a>
            <span class="badge badge-light">{{ (environment.build.size or 0) | filesizeformat(true) }}</span>
        </h5>
        {% if environment.build.status.value == 'COMPLETED' %}
        <a class="card-link" href="/build/{{ environment.build_id }}/yaml/"><ion-icon name="code-download"></ion-icon> YAML</a>
        <a class="card-link" href="/build/{{ environment.build_id }}/lockfile/"><ion-icon name="lock-closed-outline"></ion-icon> Lockfile</a>
        <a class="card-link" href="/build/{{ environment.build_id }}/archive/"><ion-icon name="archive-outline"></ion-icon> Archive</a>
        <a class="card-link" onclick="setClipboard('localhost:5000/{{ environment.namespace.name }}/{{ environment.name }}:{{ environment.build.specification.sha256 }}')" role="button" data-toggle="popover" data-trigger="hover focus" data-content="Click to copy!"><ion-icon name="logo-docker"></ion-icon> Docker</a>
        {% endif %}
    </div>
</div>
{% endfor %}

<script>
 function setClipboard(value) {
     var tempInput = document.createElement("input");
     tempInput.style = "position: absolute; left: -1000px; top: -1000px";
     tempInput.value = value;
     document.body.appendChild(tempInput);
     tempInput.select();
     document.execCommand("copy");
     document.body.removeChild(tempInput);
 }
</script>
{% endblock %}
