{% extends 'base.html' %}

{% block title %}Environments {{ environment.name }}{% endblock %}

{% block content %}
<h3>Environment</h3>
<div class="card my-2">
    <div class="card-body">
        <h5 class="card-title">{{ environment.name }}
            <span class="badge badge-light">{{ (environment.build.size or 0) | filesizeformat(true) }}</span>
        </h5>
    </div>
    <ul class="list-group list-group-flush">
{% if environment.specification_id is not none %}
        <li class="list-group-item"><a href="/specification/{{ environment.specification.sha256 }}/">Current Specification</a></li>
{% endif %}
{% if environment.build_id is not none %}
        <li class="list-group-item"><a href="/build/{{ environment.build_id }}/">Current Build</a></li>
{% endif %}
    </ul>
    <div class="card-body">
        <a href="/environment/{{ environment.name }}/edit/" class="btn btn-primary btn-block">Edit</a>
    </div>
</div>

<h3>Builds</h3>
<ul class="list-group">
    {% for build in environment_builds %}
    <li class="list-group-item {{ 'list-group-item-secondary' if build.id == environment.build_id else ''}}"><a href="/build/{{ build.id }}/">Build {{ build.id }}</a> {{ build.status}}</li>
    {% endfor %}
</ul>
{% endblock %}
