{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Environments</h2>
{% for environment in environments %}
<div class="card my-2">
    <div class="card-body">
        <h5 class="card-title">
            <a href="/environment/{{ environment.name }}/">{{ environment.namespace }}/{{ environment.name }}</a>
            <span class="badge badge-light">{{ (environment.build.size or 0) | filesizeformat(true) }}</span>
        </h5>
{% if environment.build_id is not none %}
        <a class="card-link" href="/build/{{ environment.build_id }}/lockfile/"><ion-icon name="lock-closed-outline"></ion-icon> Lockfile</a>
        <a class="card-link" href="/build/{{ environment.build_id }}/archive/"><ion-icon name="archive-outline"></ion-icon> Archive</a>
        <a class="card-link" href="/build/{{ environment.build_id }}/docker/"><ion-icon name="logo-docker"></ion-icon> Docker Image</a>
{% endif %}
    </div>
</div>
{% endfor %}

<div class="card my-2">
    <div class="card-body">
        <h3 class="card-title">Metrics</h3>
    </div>
    <div class="card-body">
        <h4>Disk Usage: {{ metrics.used | filesizeformat }} / {{ metrics.total | filesizeformat }}</h4>

        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ metrics.percent }}%;" aria-valuenow="{{ metrics.percent }}" aria-valuemin="0" aria-valuemax="100">{{ metrics.percent }}%</div>
        </div>

        <h4>Conda Store Usage: {{ metrics.disk_usage | filesizeformat }}</h4>
        <h4>Number Environments: {{ metrics.total_environments }}</h4>
        <h4>Number Cached Builds: {{ metrics.total_completed_builds }}</h4>
    </div>
</div>
{% endblock %}
