global:
  namespace: conda-store

apiServer:
  nodePort: 30501
  port: 8080
  replicas: 1
  image:
    repository: {{ (datasource "defaults").image.repository }}
    pullPolicy: {{ (datasource "defaults").image.pullPolicy }}
    tag: {{ (datasource "defaults").image.tag }}
  condaStoreConfig: |
{{ include "api-server-config" | indent 4 }}

uiServer:
  nodePort: 30500
  port: 8080
  replicas: 1
  image:
    repository: ghcr.io/conda-incubator/conda-store-ui
    pullPolicy: IfNotPresent
    tag: sha-2469531
  appEnv:
    apiUrl: http://localhost:8081
    loginPageUrl: http://localhost:8081/login?next=
    logoutPageUrl: http://localhost:8081/logout?next=/

worker:
  replicas: 1
  image:
    repository: {{ (datasource "defaults").image.repository }}
    pullPolicy: {{ (datasource "defaults").image.pullPolicy }}
    tag: {{ (datasource "defaults").image.tag }}
  environmentsVolume: conda-store-environments
  environmentsVolumeSize: 2Gi
  condaStoreConfig: |
{{ include "worker-config" | indent 4 }}
