name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-conda-store-server:
    name: 'Test conda-store-server'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: conda-store-server
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@master
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          pip install .[dev]
          sudo apt install wait-for-it -y
      - name: Black Formatting
        run: |
          black --version
          black conda_store_server --diff
          black --check conda_store_server
      - name: Flake8 Formatting
        run: |
          flake8 --version
          flake8
      - name: Release Check
        run: |
          python -m build --sdist
          twine check dist/*
      - name: Unit Tests
        run: |
          pytest
      - name: Deploy docker-compose
        run: |
          docker-compose up -d
          docker ps

          wait-for-it localhost:5432 # postgresql
          wait-for-it localhost:9000 # minio
          wait-for-it localhost:5000 # conda-store-server
      - name: Playwright install browser
        run: |
          playwright install
      - name: Run Playwright tests
        run: |
          pytest --video on tests/test_playwright.py
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: playwright-tests
          path: test-results
      - name: Run integration tests
        run: |
          cd ..
          pytest tests/test_api.py tests/test_metrics.py

  test-conda-store:
    name: 'Test conda-store'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: conda-store
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          pip install .[dev]
          sudo apt install wait-for-it -y
      - name: Black Formatting
        run: |
          black --version
          black conda_store --diff
          black --check conda_store
      - name: Flake8 Formatting
        run: |
          flake8 --version
          flake8
      - name: Release Check
        run: |
          python -m build --sdist
          twine check dist/*
      - name: Deploy docker-compose
        run: |
          docker-compose up -d
          docker ps

          wait-for-it localhost:5432 # postgresql
          wait-for-it localhost:9000 # minio
          wait-for-it localhost:5000 # conda-store-server
      - name: Basic tests not authenticated
        run: |
          sleep 20

          export CONDA_STORE_URL=http://localhost:5000/conda-store
          export CONDA_STORE_AUTH=none
          conda-store --version
          conda-store info
          conda-store token
          conda-store list namespace
          conda-store list build
          conda-store list environment

      - name: Basic tests authenticated
        run: |
          export CONDA_STORE_URL=http://localhost:5000/conda-store
          export CONDA_STORE_AUTH=basic
          export CONDA_STORE_USERNAME=username
          export CONDA_STORE_PASSWORD=password

          conda-store --version
          conda-store info
          conda-store token
          conda-store list build
          echo "waiting for build 1 to finish"
          conda-store wait 1
          conda-store wait filesystem/python-flask-env
          conda-store wait filesystem/python-flask-env:1
          conda-store wait filesystem/python-flask-env:1 --artifact=archive
          conda-store list namespace
          conda-store list build
          conda-store list environment
          conda-store list environment --package python --package ipykernel --status COMPLETED --artifact CONDA_PACK
          conda-store download 1 --artifact yaml
          conda-store download 1 --artifact lockfile
          conda-store download 1 --artifact archive
          time conda-store run 1 -- python -c "print(1 + 3)"
          time conda-store run 1 -- python -c "print(1 + 4)"
          ../tests/scripts/shebang.py

  build-docker-image:
    name: 'Build docker images'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker-image:
          - conda-store
          - conda-store-server
    steps:
      - name: 'Checkout Infrastructure'
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Docker Meta
        id: meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          images: |
            quansight/${{ matrix.docker-image }}
          tags: |
            type=sha

      - name: Build docker
        uses: docker/build-push-action@v2
        with:
          context: "${{ matrix.docker-image }}"
          file: "${{ matrix.docker-image }}/Dockerfile"
          tags: |
            ${{ steps.meta.outputs.tags }}
          push: false
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
