name: Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test-conda-store-server:
    name: 'Test conda-store-server'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: conda-store-server
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@master
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          pip install .[dev]
      - name: Black Formatting
        run: |
          black --version
          black conda_store_server --diff
          black --check conda_store_server
      - name: Flake8 Formatting
        run: |
          flake8 --version
          flake8

  build-docker-image:
    name: 'Build docker images'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker-image:
          - conda-store
          - conda-store-server
    steps:
      - name: 'Checkout Infrastructure'
        uses: actions/checkout@v2
      - name: Docker Build, Tag, Push Image
        env:
          IMAGE_NAME: quansight/${{ matrix.docker-image }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG ${{ matrix.docker-image }}

  test-conda-store:
    name: 'Test conda-store'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: conda-store
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install yarn
        run: |
          npm install --global yarn
      - name: Install Python build dependencies
        run: |
          pip install jupyter-packaging jupyterlab>=3.0.0
      - name: Bash
        shell: bash -l {0}
        run: |
          export PATH=$PATH:/usr/local/bin
          yarn
          pip install .
          jupyter labextension develop . --overwrite
          jlpm build

  test-compose:
    name: Test conda-store-build on Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Run tests
        run: |
          docker compose run conda-store-build \
            conda-store-server build \
              -p /opt/environments \
              -e /data/envs \
              -s /data/store \
              --uid $(id -u) \
              --gid $(id -g) \
              --permissions 755 \
              --storage-backend s3 \
              --poll-interval -1
