apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: conda-store-worker-claim
  name: conda-store-worker-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: conda-store-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: conda-store-worker
  template:
    metadata:
      labels:
        app: conda-store-worker
    spec:
      containers:
        - name: conda-store-server
          image: quansight/conda-store-server:v0.3.11
          args:
            - "conda-store-worker"
            - "--config"
            - "/etc/conda-store/conda_store_config.py"
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: config
              mountPath: "/etc/conda-store/"
              readOnly: true
            - name: storage
              mountPath: "/opt/conda-store/"
      restartPolicy: Always
      volumes:
        - name: config
          configMap:
            name: conda-store-config
        - name: storage
          persistentVolumeClaim:
            claimName: conda-store-worker-claim
